header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
.header {
  //   &__logo{

  //   }
  //   &--active &__logo{

  //   }

  // &--active{

  // }

  transition: 0.3s;
  height: 50px;
  background: #fff;
  align-items: center;
  display: flex;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  @include mediaMin(1024px) {
    padding: 35px;
    height: unset;
  }

  &__logo {
    z-index: 2;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    width: 100%;
    .icons {
      position: absolute;
      #{$right}: 15px;
      .menuCollapse {
        height: 2px;
        display: block;
        background: black;
        width: 10px;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          height: 2px;
          display: block;
          background: black;
          width: 16px;
          top: -8px;
        }
        &:after {
          content: "";
          position: absolute;
          height: 2px;
          display: block;
          background: black;
          width: 16px;
          top: 8px;
        }
      }
    }
    .avatar {
      overflow: hidden;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      #{$left}: 15px;
      width: 30px;
      height: 30px;
      border: 1px solid $gray2;
      img {
        min-height: 100%;
      }
    }
    .language {
      padding: 0px 10px;
      border-#{$left}: 1px solid $gray1;
      position: absolute;
      #{$left}: 55px;
    }
    h1 {
      color: $MainBlue;
      font-size: 15px;
      padding: 0px;

      &.active {
        position: absolute;
        right: 26%;
      }
    }
    p {
      font-size: 12px;
    }
    @include mediaMin(1024px) {
      position: relative;
      width: unset;
      display: inline-block;

      h1 {
        padding-bottom: 10px;
        position: unset;
        font-size: 15px;
      }
      p {
        font-size: 12px;
      }
    }
  }
  &__nav {
    position: fixed;
    right: -90%;
    top: 0px;
    display: flex;
    background: #fff;
    padding-top: 90px;
    width: 80%;
    height: 100vh;

    z-index: 1;
    box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.1);
    flex-direction: column;

    li {
      padding: 20px 20px;
      position: relative;
      border-#{$left}: 1px $gray2 solid;
      &:last-of-type {
        border: none;
      }
      &:hover {
        h5 {
          color: $MainBlue;
        }
        a {
          .icons {
            svg {
              fill: $MainBlue;
            }
          }
        }
      }
      a {
        display: flex;
        align-items: center;
        color: #b3b3b3;
        .icons {
          margin: 0px 12px;
          svg {
            fill: #b3b3b3;
            margin-#{$left}: 20px;
            height: 20px;
          }
        }
        &.active {
          color: $MainBlue;
          svg {
            fill: $MainBlue;
          }
        }
      }
    }

    @include mediaMin(1024px) {
      position: initial;
      box-shadow: none;
      flex-direction: row;
      margin-#{$right}: 5%;
      top: unset;
      right: unset;
      #{$right}: initial;
      width: unset;
      height: unset;
      padding: 0px;

      li {
        padding: 0px 20px;
        position: relative;
        border-#{$left}: 1px $gray2 solid;
        &:last-of-type {
          border: none;
        }
        &:hover {
          h5 {
            color: $MainBlue;
          }
        }

        a {
          align-items: unset;
          flex-direction: column;
          color: $gray1;
          h5 {
            padding-bottom: 10px;
            line-height: 20px;
            font-size: 15px;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
    @include mediaMin(1300px) {
      margin-#{$right}: 17%;
    }
  }
  &__signup {
    display: flex;

    @include mediaMin(1024px) {
      margin-#{$right}: auto;
      .lang {
        white-space: nowrap;
        line-height: 40px;
        padding: 0px 15px;
        color: $gray1;
        &:last-of-type {
          border-#{$right}: 1px $gray2 solid;
        }
      }
    }
  }

  &.active &__logo {
    transition: 0.3s;

    .icons {
      margin: 0px 12px;
      .menuCollapse {
        position: fixed;
        width: 0px;
        transition: 0.3s;
        &:before {
          transition: 0.3s;
          top: 0px;
          transform: rotate(-45deg * $reverse);
          width: 22px;
          background: $MainBlue;
        }
        &:after {
          transition: 0.3s;
          top: 0px;
          transform: rotate(45deg * $reverse);
          width: 22px;
          background: $MainBlue;
        }
      }
    }

    h1 {
      transition: 0.6s;
      position: fixed;
      #{$right}: 31%;
    }
    .language {
      top: -55px;
      transition: 0.6s;
    }
  }
  &.active &__nav {
    #{$right}: 0px;
    transition: 0.4s;
  }
}

/* Hide elements " Responsive view " */

.touch {
  display: none !important;
  @include mediaMin(1024px) {
    display: flex !important;
  }
}
.no-touch {
  display: flex !important;
  @include mediaMin(1024px) {
    display: none !important;
  }
}
.custom-touch {
  display: none !important;
  @include mediaMin(1024px) {
    display: unset !important;
  }
}
