#app-box.container
    include ../components/_home-search.pug
//- button.Btn.Btn--primary عرض الكل
//- button.Btn.Btn--secondary عرض الكل
//- button.Btn.Btn--w150.Btn--primary عرض الكل

//- include ../components/_job-card.pug
//- include ../components/_mail-card.pug
//- include ../components/_job-details-card.pug
//- .padding
//-   label.check-box One
//-     input(type='checkbox', checked='checked')
//-     span.checkmark
//-   label.check-box two
//-     input(type='checkbox', checked='checked')
//-     span.checkmark

