doctype html
html(dir='rtl')
  head
    //- link(rel="icon" href="img/fav.png" type="image/png" sizes="16x16")
    link(rel='stylesheet' href='css/rtl-style.css')
    //- link(rel='stylesheet' href='css/grid.css')
    meta( name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(charset="UTF-8")

    title شغلانتي
  body
    -var data = dataAr
    -var rtl = true
    -var ext = '-ar.html'

    #js-app(data-scrolltype = page_type)
      include _header.pug
      block content
      //include _search-section
      //- include _footer.pug

    script(src="js/bundle.js"  )

